* {
    box-sizing: border-box;
}

body {
    //background-image: url('../images/header-bg.png');
    background-color: $body-background-color;
}

.container {
    min-width: 360px;
    max-width: 1440px;
    margin: 0 auto;
}

.mobile-container {
    padding: 20px 20px;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

@include desktop {
    .mobile-container {
        padding: 0;
    }
    .col-1 {
        width: 16.666667%;
    }
    .col-2 {
        width: 33.333334%;
    }
    .col-3 {
        width: 50%;
    }
    .offset-1 {
        margin-left: 16.666667%;
    }
    .offset-right-1 {
        margin-right: 16.666667%;
    }
}