* {
    box-sizing: border-box;
}

body {
    background-color: $body-background-color;
}

h2 {
    font-family: $font-family-poppins;
    font-style: normal;
    font-size: $font-size-lg;
    line-height: 39px;
    color: $header-text-color;
}

.container {
    min-width: 360px;
    max-width: 1440px;
    margin: 0 auto;
}

.mobile-container {
    padding: 20px 20px;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.spacing {
    margin: 0;
    border: 0;
    &--xs {
        padding-bottom: $spacer;
    }
    &--sm {
        padding-bottom: $spacer * 2;
    }
}

@include desktop {
    .mobile-container {
        padding: 0;
    }
    .col-1 {
        width: 16.666667%;
    }
    .col-2 {
        width: 33.333334%;
    }
    .col-3 {
        width: 50%;
    }
    .col-4 {
        width: 66.666667%;
    }
    .offset-1 {
        margin-left: 16.666667%;
    }
    .offset-3 {
        margin-left: 50%;
    }
    .offset-right-1 {
        margin-right: 16.666667%;
    }
    .spacing--lg {
        padding-bottom: $spacer * 7;
    }
}