.btn {
    height: 60px;
    background: #9B9BCA;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    &__text {
        @include fontPoppins-sm;
        color: #FFFFFF;
    }
    &--width-lg {
        width: 100%;
    }
    &--width-md {
        width: 50%;
    }
}