@font-face {
    font-family: Roboto;
    src: url("/src/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("/src/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: 'DM Serif Display';
    src: url("/src/fonts/DMSerifDisplay-Regular.ttf");
}