@font-face {
    font-family: Roboto;
    src: url("/src/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("/src/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: 'DM Serif Display';
    src: url("/src/fonts/DMSerifDisplay-Regular.ttf");
}

@font-face {
    font-family: 'PT Serif';
    src: url("/src/fonts/PTSerif-Regular.ttf");
}

.font__title {
    font-family: $font-family-poppins;
    font-style: normal;
    font-weight: $font-weight-bold;
    font-size: $title-font-size;
    line-height: 40px;
    color: $caption-color;
}

.font__caption {
    @extend .font__title;
    font-weight: $font-weight-normal;
    font-size: $font-size-sm;
    line-height: 156%;
    color: $header-text-color;
}

.font__title-pt-serif {
    font-family: $font-family-pt-serif;
    font-weight: $font-weight-normal;
    font-size: $h1-title-font-size-sm;
    color: $body-title-color;
}

.font__title-pt-serif-lg {
    @extend .font__title-pt-serif;
    @include desktop {
        font-size: $h1-title-font-size-lg;
    }
}