$black: #000000;

/** Body */

$button-primary-color: #9B9BCA;
$button-secondary-color: #F01F35;
$caption-color: #626780;
$body-background-color: #FFFFFF;
$body-title-color: #402B2B;

/** Header */

$header-background-color: rgba(196, 196, 196, 0.1);
$navbar-text-color: #717784;
$logo-text-color: #505050;
$header-text-color: #696A86;

/** Footer */

$circle-footer-color: #9B9BCA;