.faq__img {
    display: none;
}

@include desktop {
    .faq {
        padding-top: 76px;
        &__ellipse {
            background: url(../images/faq-ellipse.png);
            background-repeat: no-repeat;
            background-position: right 76px;
        }
        &__img {
            display: unset;
        }
        &__col {
            padding-right: 20px;
        }
    }
}