@include desktop {
    .faq {
        padding-top: 76px;
        &__ellipse {
            background: url(../images/faq-ellipse.png);
            background-repeat: no-repeat;
            height: 1030px;
            background-position: right 76px;
        }
    }
}