@import 'logo';
@import 'menu';
.header__bg {
    background-color: $header-background-color;
}

.header__box {
    align-items: center;
}

.header__nav {
    display: none;
}

.header__text {
    text-align: center;
}

.header__title {
    font-family: $font-family-dm-serif;
    font-weight: $font-weight-normal;
    font-style: normal;
    font-size: $h1-font-size;
    line-height: 100%;
    color: $header-text-color;
}

.topnav {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.links {
    flex-direction: column;
    display: none;
}

.topnav a {
    cursor: pointer;
    text-decoration: none;
    display: block;
    &:hover {
        color: $black;
    }
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
}

.ul__list {
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}

@include desktop {
    .header__bg {
        background-image: url(../images/header/header-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header__text {
        text-align: left;
    }
    .header__box {
        align-items: unset;
    }
    .topnav {
        flex-direction: row;
    }
    .links {
        display: flex;
        flex-direction: row;
    }
    #btn-burger {
        display: none;
    }
    .ul__list {
        flex-direction: row;
    }
}