@import 'logo';
@import 'menu';
.header__bg {
    background-color: $header-background-color;
}

.header__box {
    align-items: center;
}

.header__nav {
    display: none;
}

.header__text {
    text-align: center;
}

.header__title {
    font-family: $font-family-dm-serif;
    font-weight: $font-weight-normal;
    font-style: normal;
    font-size: $h1-font-size;
    line-height: 100%;
    color: $header-text-color;
}

@include desktop {
    .header__bg {
        background-image: url(../images/header-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header__text {
        text-align: left;
    }
    .header__box {
        align-items: unset;
    }
}

@include desktopNavMenu {
    .header__nav {
        display: unset;
        padding-left: 5%;
    }
}