.services {
    &__box {
        gap: $spacer;
    }
    &__img {
        width: 100%;
    }
}

.box {
    width: 228px;
    &__img {
        padding-top: 5%;
        padding-bottom: 21px;
        width: 65px;
        height: 65px;
    }
    &__title {
        @include fontPoppins-md;
        padding-bottom: 12px;
    }
    &__caption {
        @include fontPoppins-sm;
        font-size: $font-size-base;
        text-align: center;
    }
}

@include desktop {
    .services--spacer {
        padding-top: $spacer * 6;
    }
    .services__text {
        text-align: left;
    }
    .services__img {
        width: 66.666667%;
    }
    .box {
        &:hover {
            border: 1px solid #9D9D9D;
            border-radius: 5px;
            box-shadow: 0px 20px 40px #F5F5FF;
        }
    }
}