.video {
    &--spacing {
        padding-bottom: $spacer * 3;
        @include desktop {
            padding-bottom: $spacer * 5;
        }
    }
    &__title {
        text-align: center;
        @include desktop {
            text-align: left;
        }
    }
    &__img {
        width: 100%;
    }
}