@import 'base/logo';
@import 'base/menu';
.header__bg {
    background-color: $header-background-color;
}

@include desktop {
    .header__bg {
        background-image: url(../images/header-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header__nav {
        padding-left: 5%;
    }
}